@import "tailwindcss";
@font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}
@font-face {
    font-family: 'Baloo-2-900';
    src: url('/fonts/Baloo2-ExtraBold.ttf'); 
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-image: url("/background-img.png");
  font-family: 'Baloo-2-300';
}
