@import "tailwindcss";
@font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}
@font-face {
    font-family: 'Baloo-2-900';
    src: url('/fonts/Baloo2-ExtraBold.ttf'); 
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --baloo-300: @font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}

}

body {
  @font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
  }
  @font-face {
    font-family: 'Baloo-2-900';
    src: url('/fonts/Baloo2-ExtraBold.ttf'); 
}

  background-image: url("/background-img.png");
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Baloo-2-300, var(--baloo-300);
}
