@import "tailwindcss";
@font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --baloo-300: @font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  @font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
  }
  background-image: url("/background-img.png");
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Baloo-2-300, var(--baloo-300);
}
