@import "tailwindcss";
@font-face {
    font-family: 'Baloo-2-300';
    src: url('/fonts/Baloo2-Regular.ttf');
}
@font-face {
    font-family: 'Baloo-2-900';
    src: url('/fonts/Baloo2-ExtraBold.ttf'); 
}

@font-face {
    font-family: 'Baloo-2-700';
    src: url('/fonts/Baloo2-Bold.ttf'); 
}


:root {
  --background: #ffffff;
  --foreground: #fbe87d;
  --yellow: #fbe87d;
  --green: #97FB7D;
  --d-green: #6db55a;
  --orange: #fbd17d;
  --red: #FBA17D ;
  --blue: #7DCBFB;
  --cream: #FFF8E9;
}

body {
  background-image: url("/background-img.png");
  font-family: 'Baloo-2-300';
  width: 100vw;
}
